In [ ]:
Data Types and Structures:-

In [ ]:
1. What are data structures, and why are they important?

ans- Data structures is a organizing and storing data in a computer so that it can be accessed and modified efficiently.

Importance of Data Structures:

1. Efficiency: Choosing the right data structure can significantly impact the performance of an algorithm.
2. Organization: Data structures help organize complex data in a logical and manageable way, making it easier to work.
3. Reusability: Many data structures are standard and well-understood, allowing developers to reuse implementations and knowledge across different projects.
4. Solving Complex Problems: Many real-world problems require the use of specific data structures for efficient solutions
 (e.g., using a graph to represent social networks or a tree to represent file systems).

In [ ]:
2. Explain the difference between mutable and immutable data types with examples?

ans- mutable - Mutable objects can be modified after creation,Mutability affects how objects are stored and manipulated in memory, impact in performance, memory usage, and concurrency in Python programs. mutable objects are lists and dictionaries

immutable- immutable objects cannot be modified after creation such as tuples and strings.

In [ ]:
3. What are the main differences between lists and tuples in Python?

ans- Lists are mutable,their elements can be changed, added, or removed after creation.
 eg- [2,4,6,8,10]

Tuples are immutable, once created, their elements cannot be changed.
eg- (2,4,6,8,10)

In [ ]:
4. Describe how dictionaries store data?

ans- Dictionaries store data as key-value pairs. Each key is associated with a specific value, allowing for efficient retrieval of data based on the key.

5.Why might you use a set instead of a list in Python?

ans- You might use a set instead of a list because for several reason.

*   Finding the unique elements in a collection.
*   Checking for the presence of an item quickly.
*   Performing set operations (finding common elements, elements in one set but not another, etc.).

In [ ]:
6. What is a string in Python, and how is it different from a list?

A string in Python is a sequence of characters, used to represent text.
Strings are immutable, meaning their contents cannot be changed after they are created.

A list in Python is a mutable, ordered collection of items. Lists can contain elements of different data types.

In [ ]:
7. How do tuples ensure data integrity in Python?

Tuples ensure data integrity in Python primarily through their immutability.

1. Preventing Unintended Modifications: Once a tuple is created, its elements cannot be changed, added, or removed.

2. Thread Safety: Immutability makes tuples inherently thread-safe. In multi-threaded environments, multiple threads can access a tuple simultaneously without the risk
of one thread modifying it while another is reading it, which could lead to data corruption.

3. Use as Dictionary Keys:  tuples are immutable they can be used as keys in dictionaries. This allows you to create complex keys that represent relationships between data,
 while ensuring that the key itself remains constant.

4. Returning Multiple Values from Functions: Tuples are often used to return multiple values from a function. Since the returned tuple is immutable,
 the caller can be confident that the returned values will not be altered by other parts of the program.

5. Representing Fixed Data Structures: Tuples are suitable for representing data structures where the elements are meant to be constant.

8.  What is a hash table, and how does it relate to dictionaries in Python?

ans- Hash table is also known as a dictionary is a data structure that implements an associative array, which is a collection of (key, value) pairs. It uses a hash function to compute an index into an array of buckets or slots, from which the desired value can be found.

it relates to dictionaries in Python:

Implementation: Python dictionaries are implemented using hash tables.

1.Key-Value Pairs: Dictionaries store data as key-value pairs, just like hash tables.

2.Hashing:When you add a key-value pair to a dictionary, Python's internal hash function calculates a hash value for the key. This hash value is then used to determine where in the underlying array the key-value pair will be stored.

3.Efficient Lookups: The primary advantage of using a hash table is that it allows for very efficient average-case time complexity for operations like insertion, deletion, and lookup (retrieving a value based on its key). This is because the hash function quickly directs the search to the correct location in the array.

4.Collision Handling: Hash tables need to handle collisions, which occur when two different keys hash to the same index. Python's dictionary implementation uses techniques (like open addressing or separate chaining) to resolve these collisions.

5.Mutable vs. Immutable Keys:Because dictionaries rely on hashing, the keys used in a dictionary must be hashable. In Python, immutable data types (like strings, numbers, and tuples containing only immutable types) are hashable, while mutable data types (like lists and dictionaries) are not. This is why you cannot use a list as a key in a dictionary.

9. Can lists contain different data types in Python?

Yes, lists in Python can contain elements of different data types. This is one of the key features of Python lists, making them very flexible.

For example, a single list can contain integers, floats, strings, booleans, and even other lists or dictionaries:

In [ ]:
10. Explain why strings are immutable in Python?

ans- Strings are immutable in Python, meaning that once a string is created, its content cannot be changed. Any operation that appears to modify a string,
such as concatenation or replacement, actually creates a new string with the desired changes. The original string remains unchanged in memory.

11. What advantages do dictionaries offer over lists for certain tasks?

ans-  Dictionaries offer several advantages over lists for certain tasks they are:-

1.Efficient Lookups

2.Associative Arrays

3.Meaningful Access

4.No Order Guarantee

5.Flexible Keys

12. Describe a scenario where using a tuple would be preferable over a list?

ans- A scenario where using a tuple would be preferable over a list is when you have a collection of items that should not change. Tuples are immutable, meaning their elements cannot be modified after creation. This immutability provides several advantages in certain situations:

13. How do sets handle duplicate values in Python?

ans- Sets in Python are designed to store only unique elements. When you add elements to a set, any duplicate values are automatically discarded.

It works like:-

1. Automatic Removal

2. Adding Duplicates

3. Finding Unique Elements

4. Membership Testing

5. Set Operations

14. How does the “in” keyword work differently for lists and dictionaries?

ans- The `in` keyword in Python is used for membership testing, checking if an element exists within a collection. However, it behaves differently when used with lists compared to dictionaries.

For Lists:

When the `in` keyword is used with a list, it checks if the specified element is present as one of the *values* in the list. Python iterates through the elements of the list one by one and compares each element to the value.

For Dictionaries:

When the `in` keyword is used with a dictionary, it primarily checks for the presence of a key.

It does NOT directly check for the presence of a value.
To check for a value, you would need to iterate through the dictionary's values or use the `.values()` method.

15. Can you modify the elements of a tuple? Explain why or why not?

ans-

15. Can you modify the elements of a tuple? Explain why or why not?

ans- No, you cannot modify the elements of a tuple after it has been created in Python. This is because tuples are "immutable" data types.

16.  What is a nested dictionary, and give an example of its use case?

ans-

16. What is a nested dictionary, and give an example of its use case?

ans- A **nested dictionary** is a dictionary where one or more of its values are themselves dictionaries. This allows you to create hierarchical data structures, representing relationships and organizing data in a more complex way than a simple key-value mapping.

Example Use Case: Representing a Database of Students and their Courses

A common use case for nested dictionaries is to represent structured data, such as a simple database or a configuration file. For instance, you could use a nested dictionary to store information about students and the courses they are enrolled in:

In this example:

*   The outer dictionary keys ('student1', 'student2') represent individual students.
*   The values associated with these student keys are nested dictionaries.
*   The nested dictionaries contain information about each student, such as 'name' and 'courses'.
*   The 'courses' key within the nested dictionary has a list of strings as its value, representing the courses the student is taking.

This structure allows you to easily access specific information, such as the courses taken by 'student1': `students['student1']['courses']`.

Nested dictionaries are useful for representing data that has a natural hierarchy or when you need to group related pieces of information under a common key.

17.  Describe the time complexity of accessing elements in a dictionary?

ans- Accessing an element in a dictionary typically exhibits an average time complexity of O(1), or constant time. This means that, on average, the time required to retrieve a value associated with a given key does not significantly increase with the size of the dictionary.

18.  In what situations are lists preferred over dictionaries?

ans- Lists are generally preferred over dictionaries when the order of elements is important, when you need to access elements by their position (index), or when you need to perform operations like sorting, reversing, or iterating through the elements in a specific sequence. Dictionaries, on the other hand, are better suited for situations where you need to quickly look up values based on unique keys, or when you need to represent a collection of data with key-value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

ans- Dictionaries are considered unordered because they don't store items in a specific sequence based on insertion order or any other predefined order. Instead, they are optimized for fast key-based lookups. This means you can't rely on the order in which you added items to a dictionary when retrieving them, but you can quickly access a value using its corresponding key.

20.  Explain the difference between a list and a dictionary in terms of data retrieval?

ans-  Lists and Dictionaries in Python are inbuilt data structures that are used to store data. Lists are linear in nature whereas dictionaries stored the data in key-value pairs.

Lists, like arrays, store data in a sequential, ordered manner, accessed by numerical indices (starting from 0).

Dictionaries, on the other hand, are unordered collections of key-value pairs, accessed using their unique keys, which can be of various immutable data types (like strings, numbers, or tuples).

PRATICAL QUESTIONS:-

1.  Write a code to create a string with your name and print it?

In [ ]:
my_name = "simran aliza"
print(my_name)

simran aliza

2. Write a code to find the length of the string "Hello World".

In [ ]:
string = "Hello World"
string_length = len(string)
print(string_length)

11

3.  Write a code to slice the first 3 characters from the string "Python Programming.

In [ ]:
string = "pwskills"
sliced_string = string[:3]
print(sliced_string)

pws

4.  Write a code to convert the string "hello" to uppercase.

In [ ]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5.  Write a code to replace the word "apple" with "orange" in the string "I like apple.

In [ ]:
string = "I like to eat apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like to eat orange

6.  Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)

print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]

print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()

print(my_list)

[50, 40, 30, 20, 10]

11. . Write a code to create a tuple with the elements 100, 200, 300 and print it

In [ ]:
my_tuple = (100, 200, 300)

print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]

print(second_to_last_element)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)

print(minimum_number)

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')

print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
fruit_tuple = ('apple', 'banana', 'orange')
is_kiwi_in_tuple = "kiwi" in fruit_tuple

print(f"Is 'kiwi' in the tuple? {is_kiwi_in_tuple}")

Is 'kiwi' in the tuple? False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [1]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [2]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [3]:
my_set = {1, 2, 3, 4}
my_set.remove(4)

print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [4]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [5]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [6]:
my_dict = {
    "name": "Your Name",
    "age": 30,
    "city": "Your City"
}
print(my_dict)

{'name': 'Your Name', 'age': 30, 'city': 'Your City'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [7]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [8]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [9]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [10]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
key_exists = "city" in my_dict
print(key_exists)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [11]:
list = [1, 2, 3]
tuple = (4, 5, 6)
dict = {"a": 7, "b": 8}

print(list)
print(tuple)
print(dict)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [12]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[36, 49, 53, 54, 88]

28.  Write a code to create a list with strings and print the element at the third index.

In [13]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

29.  Write a code to combine two dictionaries into one and print the result

In [17]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30.  Write a code to convert a list of strings into a set.

In [16]:
my_list = ["apple", "banana", "cherry", "apple", "date"]
my_set = set(my_list)
print(my_set)

{'cherry', 'banana', 'date', 'apple'}